.popUp {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(138, 149, 165, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}


.error-title {
    padding: .5rem;
    border-radius: 5px 5px 0 0;
    background-color: #474056;
    color: white;
}

.error-text {
    padding: .5rem;
    font-size: 1rem;
    display: flex;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
}